@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://images.unsplash.com/photo-1568876694728-451bbf694b83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(39, 37, 37, 0.305);
  min-height: 100vh;
}
